<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
  	 <withJansi>true</withJansi>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %green(%-5level) %cyan(%logger{36}) - %msg%n</pattern>
    </encoder>
  </appender>

<logger name="mas.aml.soap.mapper.AmlSoapMapper" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>